# MongoDB Connection URI
MONGODB_URI=mongodb+srv://ruslan_admin:Ruslan2026@cluster0.oyouz10.mongodb.net/?appName=Cluster0

# Telegram Bot Token
TELEGRAM_TOKEN=8543158894:AAHkaN83tLCgNrJ-Omutn744aTui784GScc
